

.action__titre > span.text--bold {
    display: inline-block;
    position: relative;
    z-index: 40;
}

.action__titre > span.text--bold::before {
    content: '';
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e3fbaf;
    z-index: -1;
}