@charset "UTF-8";
@import "utility.main.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contain {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.fil-ariane {
  text-align: left;
}

.link-as-btn:hover {
  background: #1212ff;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 1000px) {
  .dashboard-card-container {
    width: 40vh;
    height: auto;
  }
}

/* factorisation from component */
.dashboard-card-item {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: #fff;
}
.fr-tile {
  box-shadow: unset;
}
.card-item-container {
  align-items: flex-start;
  text-align: left;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  margin-right: 10px;
}
