@charset "UTF-8";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --widthJaugeOnboarding: 330px;
}

body {
  place-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.link-as-btn:hover {
  background: #1212ff;
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a.fr-breadcrumb__link {
  color: #666666;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  margin-right: 10px;
}

.flex-column {
  flex-direction: column;
}

.display-block {
  display: block;
}

.full-width {
  width: 100%;
}

.text--white {
  color: #fff;
}

.text--bleu {
  color: var(--blue-france-sun-113-625);
}

.text--gris {
  color: var(--text-default-grey);
}

.text--rouge-erreur {
  color: var(--error-425-625);
}

.text--black-light {
  color: var(--grey-50-1000);
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.text--3xl {
  font-size: 2rem;
}

.text--4xl {
  font-size: 2.5rem;
}

.text--bold {
  font-weight: 700;
}

.background-bleu {
  background: var(--blue-france-main-525);
}

.background-bleu-light {
  background: var(--blue-france-925-125);
}

.background--bleu-info {
  background-color: var(--info-950-100);
}

.background--rouge-erreur {
  background-color: var(--error-950-100);
}

.background--gris {
  background-color: var(--background-alt-grey);
}

.background--gris-dark {
  background-color: var(--background-alt-grey-hover);
}

.background--white {
  background-color: #fff;
}

.list-style-none {
  list-style: none;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.19);
}

.border--bleu {
  border: 1px solid var(--blue-france-main-525);
}

.border--bleu-dark {
  border: 1px solid var(--blue-france-sun-113-625);
}

.border-radius--md {
  border-radius: 6px;
}

.border-radius--lg {
  border-radius: 24px;
}

.img-object-fit-contain {
  object-fit: contain;
}

.shadow {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);
}
